.cars-list {
  height: 258px;
  width: 508px;
  margin: 0 auto;
  padding: 26px 30px 0;
  border-radius: 24px;
  background-color: $color-white;
  @include webkitB(box-shadow, 0 0 18px 0 $color-shadow-2);
  @include webkitB(box-sizing, border-box);

  header {
    @extend %clearfix;
    height: 48px;
    line-height: 48px;
    
    .car-logo {
      padding-left: 80px;
      background: url("../../assets/images/cars-logo.png") no-repeat left center;
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 130px;

    .car-info {

      h5 {
        font-size: 18px;
        margin-bottom: 16px;
      }

      .car-electric {

        li {
          display: inline-block;
          height: 25px;
          width: 7px;
          margin-right: 4px;
          border-radius: 6px;
          background-color: $color-border2;
        }

        // 从1到10循环
        @for $i from 1 to 10 {
          &.active-#{$i} {
            // 从第1个到第i个li标签
            li:nth-child(-n + #{$i} ) {
              @include webkitA(background,linear-gradient(#17a8fa,#108dd9))
            }
          }
        }
      }

      .car-mileage {
        margin-left: 8px;

        span {
          font-size: 12px;
          
          &:first-child {
            opacity: 0.4;
          }
        }

        .mileage-number {
          font-size: 24px;
          margin: 0 2px;
          font-weight: 700;
        }
      }
    }

    img {
      height: 120px;
    }
  }

  footer {
    .parking-link {
      display: block;
      position: relative;
      color: $color-main;
      text-align: left;
      line-height: 48px;
      opacity: 0.8;
      border-top: 1px solid $color-border1;
      
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 8px;
        height: 8px;
        margin-top: -8px;
        border-top: 1px solid $color-border2;
        border-right: 1px solid $color-border2;
        @include webkitB(transform, rotate(45deg));
      }
    }
  }
}