@import "./sassConfig.scss";
@import './normalize.scss';
@import "./icon.scss";

/* clearfix */
.clearfix { @extend %clearfix; }

/* float */
.fl { float: left; }
.fr { float: right; }

/* font-size */
.fs-24 { font-size: 24px; }
.fs-20 { font-size: 20px; }
.fs-12 { font-size: 12px; }
.fs-18 { font-size: 18px; }
.fs-16 { font-size: 16px; }


/* opacity */
.opacity-2 { opacity: 0.2; }
.opacity-4 { opacity: 0.4; }

/* flex */
.df { display: flex; }


.select-car-btn {
  display: block;
  width: 240px;
  height: 84px;
  margin: 0 17px;
  border-radius: 100px;
  line-height: 84px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  background-color: $color-main;
}