
  header {
    display: flex;
    padding: 80px 0;
    
    img {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      margin-right: 18px;
      border: 6px solid #2f343a;
    }

      .name {
        color: #909090;
        line-height: 43px;
        font-size: 18px;
      }

      span {
        display: inline-block;
        height: 27px;
        padding: 0 17px;
        background-color: #10a0f2;
        border-radius: 100px;
        line-height: 27px;
        color: #fff;
        font-size: 14px;
    }
  }

  .login-out {
    position: absolute;
    left: 50%;
    bottom: 60px;
    width: 165px;
    height: 58px;
    color: #fff;
    margin-left: -82px;
    border-radius: 100px;
    background-color: #2d3339;
    text-align: center;
    line-height: 58px;
    font-size: 18px;
    border: none;
    outline: none;
  }
